<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Parts List</title>
</head>
<body>
<h2>Список комплектующих</h2>

<!--More width to edit field-->
<form class="form-inline" th:action="@{search}" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" th:name="title" th:id="title" placeholder="Наименование">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
        </div>
    </div>
</form>

<form method="get" action="/">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
               th:name="filter" th:value="all">
        <label class="custom-control-label" for="customRadioInline1">Все</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
               th:name="filter" th:value="nes">
        <label class="custom-control-label" for="customRadioInline2">Необходимые</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input"
               th:name="filter" th:value="opt">
        <label class="custom-control-label" for="customRadioInline3">Опциональные</label>
    </div>
    <button type="submit" class="btn btn-primary">Показать</button>
</form>

<div class="container">
    <div class="row justify-content-center">
        <form method="get" action="/add-part">
            <button type="submit" class="btn btn-primary">Добавить комплектующую</button>
        </form>
    </div>
</div>

<br>
<table class="table" border="2">
    <thead class="thead-dark">
    <tr>
        <th>Наименование</th>
        <th>Необходимость</th>
        <th>Количество</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tr th:each="part : ${parts}">
        <td th:text="${part.title}"></td>
        <td th:text="${part.isNecessary()} ? 'Да' : 'Нет'"></td>
        <td th:text="${part.quantity}"></td>
        <td>
            <a th:href="@{/edit/{id}(id=${part.id})}">Редактировать</a>
        <td>
            <a th:href="@{/delete/{id}(id=${part.id})}">Удалить</a>
        </td>
    </tr>
</table>

<div>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Страницы</a>
        </li>
        <li th:each="p : ${#numbers.sequence(0, page.getTotalPages()-1)}">
            <a th:href="@{/(page=${p})}" th:text="${p+1}" class="nav-link"></a>
        </li>
    </ul>
</div>

<h3>
    <span class="badge badge-primary badge-lg" th:text="'Можно собрать '+ ${minAssembly} +' компьютер(ов)'"></span>
</h3>
<br>

</body>
</html>