<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parts List</title>
</head>
    <body>
        <h2>Parts list</h2>

        <table border="2">
            <tr>
                <th>Наименование</th>
                <th>Необходимость</th>
                <th>Количество</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="part : ${parts}" >
                <td th:text="${part.title}"></td>
                <td th:text="${part.isNecessary()}"></td>
                <td th:text="${part.quantity}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${part.id})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/update/{id}(id=${part.id})}">Delete</a>
                </td>
            </tr>
        </table>
    </body>
</html>